html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-c: #3172B9;
  --primary-act:#3474ba;
  --primary-lite: #71A7E2;
  --primary-dark: #0E3B6C;
  --white: #FFFFFF;
  --descr-text-c: #787878;
  --border-c: #E4E4E4;
  --liner-c: #DADADA;

  --off-black: #1C1C1C;

}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

:root {
  --gap: 30px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bttn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.header {
  padding: 36px 0;
  border-bottom: 1px solid var(--liner-c);
  background-color: var(--white);
}

.header-container {
 align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-link {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: var(--off-black);
  transition: color .3s ease-in-out;

}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--primary-lite);
}

.header-link:hover {
  color: var(--primary-lite) ;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-act);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header-link:active::after {
  opacity: 1;
}

.header-link:active {
  color: var(--primary-act);
  outline: none;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.btn {
  position: relative;
  padding: 15px 35px 15px 35px;
  border-radius: 3px;
  background: var(--primary-c);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  transition: background-color .3s ease-in-out ;

}

.btn::after {
  content: "";
  position: absolute;

  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid var(--primary-c);
  outline: none;
  opacity: 0;
  transition: opacity .3s ease-in-out ;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: var(--primary-lite);
}

.btn:active {
  background-color: var(--primary-dark);
  outline: none;
}

.btn:active::after {
  opacity: 0;
}

.hero{
  padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url('../img/Frame\ 6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
  color: var(--off-black);

}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  color:  var(--descr-text-c);


}

.hero-btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-secure {
  background-image: url('../img/secure.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
  padding-left: 30px;

  font-size: 11px;
  font-weight: 400;
  line-height: 17.05px;
  color: var(--descr-text-c);
  text-transform: uppercase;



}

.services {
  border-bottom: 1px solid var(--liner-c);

}



.section-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 46.8px;
  color: var(--off-black);


}

.services-title {
  text-align: center;
}
.services-descr {
  text-align: center;


}

.section-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: var(--descr-text-c);
}

.services-list {
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}







.services-item {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: 1px solid var(--border-c);
  border-radius: 5px;
  padding: 60px 30px;
  transition: background-color .3s ease-in-out , border-color .3s ease-in-out , color .3s ease-in-out ;

}


.services-item:hover {
  border-color: var(--primary-c);
  background-color: var(--primary-c);
  color: var(--white);
}


.services-item-icon {
  margin-bottom: 25px;
  fill: var(--primary-c);
  transition: fill .3s ease-in-out ;
}



.services-item:hover .services-item-icon{
  fill:var(--white);
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;

}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--descr-text-c);
  transition: color .3s ease-in-out ;

}

.services-item:hover .services-item-descr {
  color: var(--white);
}

.articles {
  border-bottom: 1px solid var(--liner-c);
}


@media (max-width: 1024px) {
  .articles-list {
    --offsets: 0;
  }
}


.articles-list{
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap)
}

.articles-item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: 1px solid var(--border-c);
  border-radius: 5px;
}



.blog-preview {
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
}

.blog-prewiew-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color .3s ease-in-out , color .3s ease-in-out ;
}
.blog-prewiew-link:focus {
  background-color: var(--primary-lite);
}

.blog-prewiew-link:focus .blog-preview-text{
  color: var(--white);
}

.blog-prewiew-link:focus .blog-previw-descr{
  color: var(--white);
}

.blog-prewiew-link:focus .blog-previw-time{
  color: var(--white);
}

.blog-prewiew-link:hover {
  background-color: var(--primary-c);
}

.blog-prewiew-link:hover .blog-preview-text{
  color: var(--white);
}

.blog-prewiew-link:hover .blog-previw-descr{
  color: var(--white);
}

.blog-prewiew-link:hover .blog-previw-time{
  color: var(--white);
}

.blog-prewiew-link:active {
  background-color: var(--primary-dark);
}

.blog-prewiew-link:active .blog-preview-text{
  color: var(--white);
}

.blog-prewiew-link:active .blog-previw-descr{
  color: var(--white);
}

.blog-prewiew-link:active .blog-previw-time{
  color: var(--white);
}


.blog-preview-img {
  object-fit: cover;
}

.blog-preview-text{
  padding: 30px;
  transition: color .3s ease-in-out ;
}

.blog-previw-time {
  display: block;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: var(--descr-text-c);
  transition: color .3s ease-in-out ;

}

.preview-title {

  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--off-black);
  margin: 0;
  margin-bottom: 15px;
  transition: color .3s ease-in-out ;
}

.blog-previw-descr {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--descr-text-c);
  max-width: 210px;
  transition: color .3s ease-in-out ;
}

.clients {
  border-bottom: 1px solid var(--liner-c);
}

.clients-list {
  --offsets: 2;
  flex-wrap: wrap;
  gap: var(--gap);
}

.clients-item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  flex-direction: column;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid var(--border-c);
  border-radius: 5px;
}



.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--descr-text-c);
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid var(--border-c);
  border-width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;

}

.clients-name {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
  line-height: 30.6px;
  color: var(--off-black);

}

.clients-post {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--descr-text-c);

}

.contacts {
  border-bottom: 1px solid var(--liner-c);
}

.contacts-list {
  --offsets: 2;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contacts-item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background-position: left top;
  background-repeat: no-repeat ;
  block-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item-visit {
  background-image: url('../img/location_on.svg');

}

.contacts-item-call {
  background-image: url('../img/phone.svg');
}

.contacts-item-mail {
  background-image: url('../img/mail.svg');
}


.contacts-item-caption {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
  line-height: 30.6px;
  color: var(--off-black);

}

.contacts-item-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--descr-text-c);
  max-width: 214px;
}

.contacts-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--descr-text-c);
  transition: color .3s ease-in-out ;

}

.contacts-item-link:focus {
  outline: 1px solid var(--primary-lite);
}

.contacts-item-link:hover {
  color: var(--primary-lite);
}

.contacts-item-link:active {
  outline: none;
  color: var(--primary-dark);
}

.join-us {
  border-bottom: 1px solid var(--liner-c);
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 19px;

}

.form-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;
  width: 49%;
}

.form-input {
  width: 100%;
  height: 60px;
  border: 1px solid var(--liner-c);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  transition: border-color .3s ease-in-out , background-color .3s ease-in-out ;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-lite);
}

.form-input:hover {
  outline: none;
  border-color: var(--primary-lite);
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:active {
  border-color: var(--primary-dark);
}

.form-right {
  display: flex;
  width: 49%;
}

.form-textarea {
  width: 100%;
  border: 1px solid var(--liner-c);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 16px 28px;
  resize: none;
  transition: border-color .3s ease-in-out , background-color .3s ease-in-out ;
}


.form-textarea:focus {
  outline: none;
  border-color: var(--primary-lite);
}

.form-textarea:hover {
  outline: none;
  border-color: var(--primary-lite);
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:active {
  border-color: var(--primary-dark);
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-bttn {
  width: 230px;
  height:60px;
  padding: 15px 35px;
  border-radius: 50px;
  margin-bottom: 9px;

}

.form-check {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: var(--descr-text-c);

}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: var(--primary-c);
  border-bottom: 1px solid var(--primary-c);
}

.footer {
  padding: 42px 0;
}

.footer-copy {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: var(--descr-text-c);

}

.footer-nav {
  margin-right: 56px;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-link {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 20.43px;
  color: var(--descr-text-c);

  transition: color .3s ease-in-out;

}

.footer-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--primary-lite);
}

.footer-link:hover {
  color: var(--primary-lite) ;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-act);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.footer-link:active::after {
  opacity: 1;
}

.footer-link:active {
  color: var(--primary-act);
  outline: none;
}


.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;

}

.social-link svg {
  fill: var(--off-black);
  transition: fill .3s ease-in-out , stroke .3s ease-in-out ;
}

.social-link-mail svg {
  fill: transparent;
  stroke: var(--off-black);
  transition: fill .3s ease-in-out , stroke .3s ease-in-out ;
}

.social-link:focus svg {
  outline-offset: 2px;
  outline: 1px solid var(--primary-lite);
}

.social-link:hover svg {
  fill: var(--primary-lite) ;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: var(--primary-lite) ;
}

.social-link:active svg {
  outline: none;
  fill: var(--primary-dark) ;
}

.social-link-mail:active svg {
  outline: none;
  fill: transparent;
  stroke: var(--primary-dark) ;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
 margin-right: 28px;
}


.burger {
  display: none;
}
